.gridContaoner {
  display: grid;
  width: 100%;
  height: 4rem;
  background: darkseagreen;
  grid-auto-flow: column;
  justify-content: space-evenly;
  padding: 1rem;
  font-size: 1.2rem;
  font-weight: bold;
}

.item:hover {
  cursor: pointer;
}

.item[data-active="true"] {
  text-decoration: underline;
  color: blue;
}
